<div class="container-fluid">
  <div class="row justify-content-evenly">
    <div class="card text-center my-2">
      <div class="card-body">
        <h5 class="card-title">Ötödik osztály</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Feladatok</a>
      </div>
    </div>
    <div class="card text-center my-2">
      <div class="card-body">
        <h5 class="card-title">Hatodik osztály</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Feladatok</a>
      </div>
    </div>
    <div class="card text-center my-2">
      <div class="card-body">
        <h5 class="card-title">Hetedik osztály</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Feladatok</a>
      </div>
    </div>
    <div class="card text-center my-2">
      <div class="card-body">
        <h5 class="card-title">Nyolcadik osztály</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Feladatok</a>
      </div>
    </div>
  </div>
</div>
