<div class="container">
  <div class="row justify-content-evenly">
    <div class="card" style="width: 17rem;">
      <img src="https://images.unsplash.com/photo-1503676260728-1c00da094a0b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1122&q=80" class="card-img-top" alt="lower school">
      <div class="card-body">
        <h5 class="card-title">Alsó tagozat</h5>
        <p class="card-text">Gyakorló feladatok általános iskola elsőtől negyedik osztályig</p>
        <a routerLink="lower" class="btn btn-primary">Válassz évfolyamot</a>
      </div>
    </div>
    <div class="card" style="width: 17rem;">
      <img src="https://images.unsplash.com/photo-1446329360995-b4642a139973?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1077&q=80" class="card-img-top" alt="upper school">
      <div class="card-body">
        <h5 class="card-title">Felső tagozat</h5>
        <p class="card-text">Gyakorló feladatok általános iskola ötödiktől nyolcadik osztályig</p>
        <a routerLink="upper" class="btn btn-primary">Válassz évfolyamot</a>
      </div>
    </div>
  </div>
</div>
